<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Test</title>
  </head>
  <body>
    <h1>Sinatra Test</h1>
    <div style='border: 4px dashed red'>
      <img src='http://www.sinatrarb.com/images/logo.png'>
    </div>
  </body>
</html>
