<!DOCTYPE html>
<html>
<head>
  <title>Sinatra Test</title>
</head>
<body>
  <h1>Sinatra Test</h1>
  <div style='border: 4px dashed red'>
    <img src='http://localhost:4567/images/sinatra_logo.png'>
  </div>
  <% if @visitor %>
    <p>Hello, <%= @visitor %>!</p>
  <% else %>
    <form action="/hello">
      <p>My hat is called <%= @random_name %>. What is your name?</p>
      <input type="text" name="name" />
      <input type="submit" Value="That's my name!" />
    </form>
  <% end %>
</body>
</html>

