<!DOCTYPE html>
<html>
<head>
  <title>Secret Page</title>
</head>
<body>
  <h1>Secret Page</h1>
  <p>This is a secret page. No links go here (yet). We can add on the fly changes - thanks to shotgun!</p>
</body>
</html>